<div class="container">
  <div class="row row-cols-2 row-cols-sm-1 g-3 justify-content-sm-center intro-comic-py">
    <div class="col col-sm-8 mt-0 intro-col-mb">
      <div class="d-flex flex-column flex-sm-row-reverse align-items-center justify-content-sm-end p-2 p-sm-0 intro-comic">
        <h3 class="text-primary fw-bold m-0 intro-h3">1. 平日繁忙,沒時間料理?</h3>

        <img class="intro-img" src="/assets/images/dog-house/img_1.png" alt="">
      </div>
    </div>



    <div class="col col-sm-8 mt-0 intro-col-mb">
      <div class="d-flex flex-column flex-sm-row align-items-center justify-content-sm-start p-2 p-sm-0 intro-comic">
        <h3 class="text-primary fw-bold m-0 intro-h3">2. 輕鬆下單,選擇你喜愛的餐點</h3>

        <img class="intro-img" src="/assets/images/dog-house/img_2.png" alt="">
      </div>
    </div>



    <div class="col col-sm-8 mt-sm-0 intro-col-mb">
      <div class="d-flex flex-column flex-sm-row-reverse align-items-center justify-content-sm-end p-2 p-sm-0 intro-comic">
        <h3 class="text-primary fw-bold m-0 intro-h3">3.新鮮食材送到府,簡單烹飪</h3>

        <img class="intro-img" src="/assets/images/dog-house/img_3.png" alt="">
      </div>
    </div>



    <div class="col col-sm-8 mt-sm-0 intro-col-mb">
      <div class="d-flex flex-column flex-sm-row align-items-center justify-content-sm-start p-2 p-sm-0 intro-comic">
        <h3 class="text-primary fw-bold m-0 intro-h3">4. 立即享受健康美味,輕鬆自在!</h3>

        <img class="intro-img" src="/assets/images/dog-house/img_4.png" alt="">
      </div>
    </div>
  </div>
</div>