<header class="header" style="background: #AD4214;">
    <div class="container">

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid">
    <!-- 左邊的Logo -->
    <a class="navbar-brand" href="#">
      <img src="../assets/images/svg/logo-white.svg" alt="懶人廚房">
    </a>

    <!-- 漢堡選單按鈕 (手機版) -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- 右側內容 -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <!-- 文字連結 -->
        <li class="nav-item">
          <a class="nav-link active" href="#">懶人商品</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="feature.html">懶人特色</a>
        </li>

        <!-- 購物車圖示 -->
        <li class="nav-item">
          <a class="nav-link" href="#">
            <img src="../assets/images/svg/shoppingcart.svg" alt="Cart" class="購物車">
          </a>
        </li>
      </ul>
    </div>
<!-- 購物車圖示 (手機版右側) -->
    <div class="d-lg-none">
      <a class="nav-link" href="#">
        <img src="../assets/images/svg/shoppingcart.svg" alt="Cart" class="購物車">
      </a>
    </div>
  </div>
</nav>
    

    </div>
</header>