<header class="header" style="background: #AD4214;">
  <div class="container">

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark">
      <div class="container-fluid">
        <!-- 左邊的Logo -->
        <!-- <a class="navbar-brand" href="./index.html">
    <img src="../assets/images/svg/logo-white.svg" alt="懶人廚房">
  </a> -->
        <h1 class="wavy-text m-0 pt-1">
          <a href="./index.html">
            <!-- logo圖 svg -->
            <span>
              <svg width="188" height="140" viewBox="0 0 188 140" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M121.716 39.53C129.299 37.5405 136.882 35.5509 144.465 33.5614C146.463 33.0284 147.912 30.7413 147.275 28.6922C146.632 26.6226 144.583 25.3016 142.439 25.8624C138.366 26.9268 134.306 27.9988 130.232 29.0632C135.173 22.0879 140.116 15.123 145.056 8.14774C145.954 6.87554 145.632 4.8632 144.744 3.72687C143.731 2.44804 142.215 1.95162 140.623 2.28824C132.194 4.08619 123.774 5.88143 115.342 7.66911C113.316 8.09941 111.913 10.561 112.531 12.5383C113.195 14.6901 115.196 15.8262 117.367 15.3681C122.43 14.2923 127.48 13.209 132.543 12.1333C127.46 19.3115 122.364 26.4821 117.28 33.6602C115.22 36.5715 118.608 40.3258 121.71 39.5095L121.716 39.53Z"
                  fill="#FFFDFA" />
                <path
                  d="M82.661 75.3783L105.41 69.4097C107.408 68.8768 108.857 66.5897 108.22 64.5405C107.578 62.4709 105.528 61.15 103.384 61.7107C99.3113 62.7751 95.251 63.8471 91.1778 64.9115C96.1181 57.9363 101.061 50.9713 106.001 43.9961C106.9 42.7239 106.577 40.7115 105.689 39.5752C104.677 38.2964 103.16 37.7999 101.569 38.1366C93.1389 39.9345 84.7193 41.7298 76.2868 43.5174C74.2616 43.9477 72.8581 46.4094 73.4764 48.3866C74.1407 50.5384 76.1416 51.6745 78.3122 51.2164C83.3752 50.1407 88.4254 49.0574 93.4884 47.9816C88.4051 55.1598 83.3089 62.3304 78.2256 69.5086C76.1657 72.4199 79.5536 76.1741 82.6556 75.3578L82.661 75.3783Z"
                  fill="#FFFDFA" />
                <path
                  d="M169.712 27.9261C169.03 26.1635 168.295 24.4043 167.524 22.6764C166.386 20.1346 162.53 19.3285 160.311 20.7661C157.703 22.4616 157.197 25.3098 158.414 28.0282C158.681 28.6272 158.937 29.229 159.191 29.8204C159.191 29.8204 159.194 29.8307 159.196 29.8409C159.379 30.2866 159.554 30.7452 159.727 31.1935C160.332 32.7897 160.887 34.3996 161.383 36.036C161.97 37.9776 162.483 39.928 162.897 41.9159C163.096 42.8404 163.265 43.773 163.414 44.7111C163.493 45.2174 163.558 45.7162 163.637 46.2225C163.661 46.4798 163.698 46.7446 163.722 47.0018C163.948 49.3143 164.047 51.6389 163.972 53.9659C163.946 55.0275 163.876 56.0897 163.773 57.1499C163.719 57.6915 163.655 58.2359 163.591 58.7803C163.594 58.7906 163.594 58.7906 163.589 58.8138C163.52 59.1729 163.474 59.5367 163.404 59.8957C162.955 62.3774 162.298 64.8156 161.439 67.1872C161.313 67.5392 161.177 67.894 161.039 68.2386C160.994 68.3603 160.91 68.5366 160.843 68.6972C160.89 68.5858 160.955 68.4587 161.042 68.2926C160.719 68.972 160.434 69.6741 160.109 70.3432C158.746 73.1674 157.108 75.8565 155.255 78.3939C155.2 78.4746 155.134 78.5579 155.079 78.6385C154.88 78.8783 154.687 79.1386 154.491 79.3886C153.94 80.0738 153.374 80.7412 152.795 81.401C151.755 82.5902 150.67 83.7362 149.542 84.8391C148.328 86.0307 147.07 87.1792 145.768 88.2845C145.154 88.8109 144.514 89.3222 143.884 89.8307C143.874 89.8335 143.863 89.8362 143.866 89.8464C143.831 89.8779 143.803 89.8963 143.767 89.9277C143.406 90.2109 143.031 90.4867 142.663 90.7494C139.893 92.7846 136.997 94.6336 134.002 96.3113C132.481 97.1673 130.937 97.9746 129.359 98.7361C128.594 99.1049 127.819 99.4764 127.049 99.8246C126.66 100.005 126.268 100.176 125.877 100.346C125.681 100.431 125.485 100.516 125.289 100.602C125.249 100.612 125.19 100.639 125.111 100.671C124.844 100.775 124.45 100.935 124.361 100.97C124.015 101.106 123.659 101.245 123.313 101.381C122.412 101.732 121.506 102.061 120.597 102.38C118.919 102.971 117.228 103.51 115.526 104.007C112.122 105.003 108.66 105.817 105.156 106.433C104.311 106.581 103.464 106.719 102.614 106.847C102.246 106.901 101.868 106.958 101.498 107.002C101.286 107.026 101.074 107.049 100.865 107.083C100.926 107.067 100.979 107.063 101.043 107.057C101.023 107.063 101.013 107.066 101.002 107.068C99.2555 107.271 97.5052 107.419 95.7543 107.523C92.2933 107.721 88.8319 107.711 85.3751 107.468C83.7081 107.353 82.0489 107.059 80.3846 106.954C80.295 106.945 80.2128 106.923 80.1231 106.914C79.7231 106.845 79.3129 106.778 78.9129 106.709C78.0666 106.561 77.215 106.393 76.3708 106.212C73.143 105.513 69.963 104.581 66.8868 103.38C66.5602 103.259 66.2412 103.124 65.9119 102.992C65.827 102.96 65.7395 102.917 65.6648 102.882C64.8977 102.538 64.1408 102.19 63.3961 101.807C61.951 101.082 60.5331 100.296 59.1628 99.4422C58.4971 99.0265 57.8388 98.5979 57.1982 98.1536C56.8521 97.9163 56.5162 97.6763 56.1777 97.4261C55.9347 97.2492 55.7047 97.0798 55.472 96.9002C55.4306 96.8673 55.3865 96.8241 55.3037 96.7583C53.4767 95.2463 51.7381 93.6557 50.1153 91.9243C49.6297 91.4057 49.1822 90.8659 48.7245 90.3289C51.6917 88.4609 54.539 85.8888 56.636 82.3305C65.3242 67.6214 55.6388 45.6519 48.5597 44.8705C46.8304 44.6836 44.775 45.7042 43.7731 47.2457C40.5126 52.3118 50.0114 61.0056 46.84 66.037C45.6636 67.9107 42.8178 69.1202 40.719 68.4825C34.931 66.7196 37.6662 51.8187 31.2244 49.3952C28.8868 48.5137 25.8506 49.4553 24.5006 51.1666C23.4773 52.4612 23.3364 54.2894 25.4576 64.8411C26.6146 70.6075 27.1361 72.4239 25.9779 73.9522C24.6013 75.7695 21.1995 76.7317 19.0207 75.5002C13.8332 72.5774 19.0993 59.2096 13.8508 56.1383C11.6973 54.8781 8.34732 55.7056 6.48035 57.401C0.391622 62.9139 3.76041 83.1846 16.372 91.4766C23.5336 96.1798 31.2978 95.4602 34.0341 95.2028C34.6422 95.1504 36.2974 94.9726 38.498 94.4626C41.3315 98.2659 44.6003 101.733 48.3611 104.707C60.3675 114.182 75.4556 118.243 90.5672 118.288C105.986 118.34 121.402 114.481 135.216 107.643C148.064 101.283 159.996 91.7293 167.335 79.1926C171.896 71.3959 174.354 62.4902 174.507 53.452C174.653 44.7566 172.799 36.012 169.671 27.937L169.712 27.9261Z"
                  fill="#FFFDFA" />
                <path d="M160.866 68.702C160.605 69.244 160.72 69.0157 160.866 68.702V68.702Z" fill="#FFFDFA" />
                <path d="M101.069 107.072C101.439 107.028 102.355 106.86 101.069 107.072V107.072Z" fill="#FFFDFA" />
              </svg>
            </span>
            <span>懶</span>
            <span>人</span>
            <span>廚</span>
            <span>房</span>
          </a>
        </h1>



        <!-- 手機版右側購物車圖示 + 漢堡按鈕，兩者並排並且保持 16px 間距 -->
        <div class="d-lg-none d-flex justify-content-end align-items-center">
          <!-- 購物車圖示 -->
          <a class="nav-link me-3" href="./shoppingcart.html">
            <img src="../assets/images/svg/shoppingcart.svg" alt="Cart" class="購物車">
          </a>

          <!-- 漢堡選單按鈕 -->
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>

        <!-- 右側內容 -->
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <!-- 文字連結 -->
            <li class="nav-item">
              <a class="nav-link active h4" href="./productOverview.html">懶人商品</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active h4" href="./feature.html">懶人特色</a>
            </li>

            <!-- 購物車圖示 (桌面版顯示) -->
            <li class="nav-item d-none d-lg-block">
              <a class="nav-link" href="./shoppingcart.html">
                <div class="cart-count">0</div>
                <img src="../assets/images/svg/shoppingcart.svg" alt="Cart" class="購物車">
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

  </div>
</header>

<script>
  // 監聽漢堡選單按鈕的點擊事件
  document.querySelector('.navbar-toggler').addEventListener('click', function () {
    // 切換自定義的叉叉圖示
    const togglerIcon = this.querySelector('.navbar-toggler-icon');
    togglerIcon.classList.toggle('open'); // 切換 'open' 類別
  });
</script>