<header class="header" style="background: #AD4214;">
  <div class="container">

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark">
<div class="container-fluid">
  <!-- 左邊的Logo -->
  <a class="navbar-brand" href="./index.html">
    <img src="../assets/images/svg/logo-white.svg" alt="懶人廚房">
  </a>

  <!-- 手機版右側購物車圖示 + 漢堡按鈕，兩者並排並且保持 16px 間距 -->
  <div class="d-lg-none d-flex justify-content-end align-items-center">
    <!-- 購物車圖示 -->
    <a class="nav-link me-3" href="./shoppingcart.html">
      <img src="../assets/images/svg/shoppingcart.svg" alt="Cart" class="購物車">
    </a>

    <!-- 漢堡選單按鈕 -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>

  <!-- 右側內容 -->
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ms-auto">
      <!-- 文字連結 -->
      <li class="nav-item">
        <a class="nav-link active h4" href="./productOverview.html">懶人商品</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active h4" href="./feature.html">懶人特色</a>
      </li>

      <!-- 購物車圖示 (桌面版顯示) -->
      <li class="nav-item d-none d-lg-block">
        <a class="nav-link" href="./shoppingcart.html">
          <div class="cart-count">0</div>
          <img src="../assets/images/svg/shoppingcart.svg" alt="Cart" class="購物車">
        </a>
      </li>
    </ul> 
  </div>
</div>
</nav>
  
  </div>
</header>

<script>
// 監聽漢堡選單按鈕的點擊事件
document.querySelector('.navbar-toggler').addEventListener('click', function () {
  // 切換自定義的叉叉圖示
  const togglerIcon = this.querySelector('.navbar-toggler-icon');
  togglerIcon.classList.toggle('open'); // 切換 'open' 類別
});
</script>
