// 通用設定
// $link-decoration: underline !default;
a {
  text-decoration: none;
  color: inherit;
  display: block;
}
ul,
p {
  margin: 0;
  padding: 0;
}

.custom-fs1{
  font-weight: bold;
  font-size: 48px;
  // letter-spacing: 0.15rem;
  letter-spacing: 0.15em;
  line-height: 1.2;
}
.custom-fs2{
  font-weight: bold;
  font-size: 36px;
  //letter-spacing: 0.15rem;
  letter-spacing: 0.02em;
  line-height: 1.2;
}
.custom-fs3{
  font-weight: bold;
  font-size: 24px;
  //letter-spacing: 0.15rem;
  letter-spacing: 0.02em;
  line-height: 1.2;
}
.custom-fs4{
  font-weight: bold;
  font-size: 20px;
  //letter-spacing: 0.15rem;
  letter-spacing: 0.02em;
  line-height: 1.2;
}
.custom-fsSmall{
  font-weight: medium;
  font-size: 12px;
  //letter-spacing: 0.15rem;
  letter-spacing: 0.02em;
  line-height: 1.5;
}
.custom-fsBody{
  font-weight: medium;
  font-size: 16px;
  //letter-spacing: 0.15rem;
  letter-spacing: 0.02em;
  line-height: 1.5;
}
// footer
.footer-bg {
  background-color: #ad4214;
  padding: 60px 0;
}
.footerWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footerIcon {
  display: flex;
  gap: 20px;
  padding-bottom: 28px;
  li {
    &:hover {
      svg rect {
        fill: #FAFCFE;
      }
    }
  }
}
.footerLink {
  display: flex;
  gap: 16px;
  flex-direction: column;
  li {
    text-align: center;
    padding: 12px 0;
    background-color: #fff3e5;
    cursor: pointer;
    &:hover {
      background-color: #FAFCFE;
    }
  }
  a {
    color: #ad4214;
  }
}
.footerText {
  address{
    margin-bottom: 28px;
  }
}
@media (max-width: 992px) {
  .footer-bg {
    padding: 40px 16px;
  }
  .footerWrapper {
    flex-direction: column;
    gap: 28px;
  }
  .footerIcon {
    padding-bottom: 0;
  }
}
