body {
  background-color: #FFF7EB;
  line-height: 1.2;
  letter-spacing: 0.05rem;
}


a {
  text-decoration: none;
  color: inherit;
}






// <-----   Banner   -----> //



.banner-my-60 {
  margin: 60px 0px;
}


.banner-h2-mb {
  margin-bottom: 40px;
}


.banner-a-p {
  padding: 12px 40px;
}


.banner-a {
  font-size: 20px;
  transition: filter 0.3s ease,
              transform  0.3s ease;
}


.banner-a:hover {
  transform: translateY(-3px) translateX(-3px);

  filter: drop-shadow(3px 3px 3px rgba(0,0,0,0.5));
}



@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}



.banner-bounce {
  animation: bounce 3s ease infinite;
}






// <-----   Feature-introduction 特色四格漫畫   -----> //



.intro-bg-img {
  background-image: url(/assets/images/dog-house/bg-sm-1.png);
}



.intro-bottom-img {
  position: absolute;

  bottom: 0;

  z-index: 1;
}






// <-----   搜尋區塊   -----> //



.search-box {
  border-radius: 20px;
}



.dropdown-a {
  padding: 12px 20px;
}



.dropdown-ul {
  padding: 12px 20px;
}



.dropdown-ul a {
  color: #AD4214;

  transition: background-color 0.2s ease,
              color            0.2s ease;
}



.dropdown-ul a:hover {
  background-color: #AD4214;

  color: #FFF7EB;
}



.form-control::placeholder {
  color: #AD4214;
}



.form-control {
  padding: 12px 20px 12px 0px;
}


.input-img {
  padding: 12px 0px 12px 20px;
}



.btn {
  padding: 12px 20px;
}






// <-----   熱門商品   -----> //



.hot-box-py {
  padding: 60px 12px;
}



.hot-card {
  padding: 12px;
}



.hot-h2 {
  font-size: 32px;

  margin-bottom: 28px;
}



.hot-row-mb {
  margin-bottom: 28px;
}







.hot-h4 {
  font-size: 20px;

  margin-bottom: 12px;
}



.hot-a {
  transition: transform 0.3s ease, filter 0.3s ease;
}



.hot-a:hover {
  transform: translateX(-2px) translateY(-3px);
  filter: drop-shadow(3px 3px 3px rgba(0,0,0,0.5));
}



.hot-btn {
  padding: 12px 40px;

  font-size: 20px;
}



.hot-swiper {
  margin-bottom: 40px;

  padding-bottom: 60px;

  padding-right: 20px;

  padding-left: 20px;
}



.slide-act {
  color: #201B11;
}



.swiper-slide {
  transition: transform 0.5s ease;

  &.swiper-slide-active {
    transform: translateX(-2px) translateY(-3px) scale(1.1);

    filter: drop-shadow(3px 3px 3px rgba(0,0,0,0.5));

    .slide-act {
    color: #AD4214;
    }
  }
}



.slide-a {
  transition: transform 0.3s ease, filter 0.3s ease;
}



.slide-a:hover {
  transform: translateX(-1px) translateY(-2px);
  filter: drop-shadow(3px 3px 3px rgba(0,0,0,0.5));
}



.swiper-button-prev,
.swiper-button-next {
  transition: transform 0.3s ease, 
              filter 0.3s ease;
}



.swiper-button-prev:hover,
.swiper-button-next:hover {
  transform: translateX(-2px) translateY(-3px);
  filter: drop-shadow(3px 3px 3px rgba(0,0,0,0.5));
}



.swiper-button-prev::after,
.swiper-button-next::after {
  background-color: #FFF7EB;
  font-size: 20px;
  font-weight: bold;
  color: #AD4214;

  width: 40px;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 15px;

  border-radius: 50%;
}



.swiper-pagination-bullet {
  background-color: #7E7E7E;

  width: 12px;
  height: 12px;

  &.swiper-pagination-bullet-active {
    background-color: #FFF7EB;
  }
}






// <-----   懶人分類   -----> //






.lazy-ul {
  font-size: 20px;
  color: #7E7E7E;

  margin-bottom: 32px;
}



.lazy-li {
  border-bottom: 3px solid #ad421400;

  transition: border-bottom 0.3s ease, color 0.3s ease;
}



.lazy-li:hover {
  color: #AD4214;

  border-bottom: 3px solid #AD4214;
}





// <-----   快速烹飪   -----> //

// 快速烹飪區塊 CSS 沿用 懶人分類區塊 的CSS
// 沒有 新增CSS







// <-----   Q & A 區塊   -----> //



.qa-fz {
  font-size: 32px;

  margin-bottom: 20px;
}



.accordion-item {
  padding: 20px 20px 0px 20px;
}



.accordion-button {
  padding: 0;

  padding-bottom: 20px;
}



.accordion-button::after {
  background-image: url(/assets/images/dog-house/down-arrow.png);
}



.accordion-button:not(.collapsed)::after {
  background-image: url(/assets/images/dog-house/down-arrow.png);
}



.accordion {
  height: 480px;
}



.accordion-body {
  padding: 0;

  padding-bottom: 20px;
}



.accordion-button:focus {
  box-shadow: none;
}



.accordion-item,
.accordion-button {
  border-radius: 20px !important;

  --bs-accordion-border-color: transparent;

  border: none;
}






// <-----   回到最上面按鈕   -----> //



.btt-btn {
  width: 48px;
  height: 48px;

  border-radius: 50%;

  position: fixed;

  top: 30px;

  right: 30px;

  z-index: 4;

  opacity: 0;
  
  transition: opacity   0.5s ease, 
              transform 0.5s ease,
              filter    0.5s ease;
}



.scrolled {
  opacity: 1;

  transform: translateY(-5px) translateX(-5px);

  filter: drop-shadow(3px 3px 3px rgba(0,0,0,0.5));
}






// ----------------------------------------------------> //
// ----------------------------------------------------> //
// ----------------------------------------------------> //



// <-----   R－W－D   -----> //



// ----------------------------------------------------> //
// ----------------------------------------------------> //
// ----------------------------------------------------> //






// <-----   螢幕寬度 576px 以下   -----> //



@media (max-width: 576px) {

  
  // <-----   Banner   -----> //



  .banner-img {
    margin-bottom: 40px;
  }


  .banner-a-mb {
    margin-bottom: 20px;
  }






  // <-----   Feature-introduction 特色四格漫畫   -----> //



  .intro-bg-img {
    background-image: url(/assets/images/dog-house/bg-sm-1.png);
  }
  
  
  
  .intro-comic-py {
    padding: 60px 0px;
  }



  .intro-img {
    width: 100%;
  }
  
  
  
  .intro-comic {
    border-radius: 12px;

    border: 4px solid #FFF7EB;
  }






  // <-----   搜尋區塊   -----> //



  .search-py {
    padding: 40px 20px;
  }



  .search-mb {
    margin-bottom: 20px;
  }



  .input-group {
    margin-bottom: 20px;
  }






  // <-----   熱門商品   -----> //



  .f-level-bg {
    background-image: url(/assets/images/dog-house/bg-sm-4.png);

    background-repeat: no-repeat;

    background-size: cover;
  }



  .s-level-bg {
    background-image: url(/assets/images/dog-house/bg-sm-3.png);

    background-repeat: no-repeat;

    background-size: cover;

    background-position: 0 100%;
  }



  .hot-img {
    margin-bottom: 17px;

    width: 90%;
  }



  .hot-card-bg {
    height: 66%;

    background-color: #FFFDFA;

    border-radius: 12px;
  }






  // <-----   懶人分類   -----> //



  .lazy-f-bg {
    background-image: url(/assets/images/dog-house/bg-sm-1.png);
  }






  // <-----   Q & A 區塊   -----> //



  .qa-bg {
    background-image: url(/assets/images/dog-house/bg-sm-1.png);

    background-repeat: no-repeat;

    background-size: cover;

    background-position: center;

    
  }



  .qa-py {
    padding: 60px 12px;
  }
}




// <-----   螢幕寬度 576px 以上   -----> //



@media (min-width: 577px) {


  // <-----   Banner   -----> //



  .banner-img {
    margin-bottom: 60px;

    content: url(/assets/images/dog-house/banner-md.png);
  }


  .banner-a-mb {
    margin-bottom: 0px;
  }






  // <-----   Feature-introduction 特色四格漫畫   -----> //



  .intro-bg-img {
    background-image: url(/assets/images/dog-house/bg-md-1.png);
  }
  
  
  
  .intro-bottom-img {
    content: url(/assets/images/dog-house/bg-md-2.png);

    height: 100px;
    
    position: absolute;

    bottom: 0;

    z-index: 1;
  }



  .intro-comic-py {
    padding: 100px 0px;
  }



  .intro-img {
    width: 35.7%;
  }



  .intro-h3 {
    font-size: 36px;
  }



  .intro-comic {
    border: none;
  }



  .intro-col-mb {
    margin-bottom: 40px;
  }






  // <-----   搜尋區塊   -----> //



  .search-py {
    padding: 51px 0px;
  }



  .search-mb {
    margin-bottom: 20px;
  }



  .input-group {
    margin-bottom: 20px;
  }






  // <-----   熱門商品   -----> //



  .hot-f-bg {
    background-image: url(/assets/images/dog-house/bg-md-4.png);

    background-repeat: no-repeat;

    background-size: cover;
  }
  
  
  
  .f-level-bg {
    background-image: url(/assets/images/dog-house/bg-md-4.png);

    background-repeat: no-repeat;

    background-size: cover;

    padding-bottom: 50px;

    background-position: 0 100%;
    
  }



  .s-level-bg {
    background-image: url(/assets/images/dog-house/bg-md-3.png);

    background-repeat: no-repeat;

    background-size: cover;

    padding-bottom: 40px;

    background-position: 0 100%;
  }



  .hot-img {
    margin-bottom: 34px;

    width: 90%;
  }



  .hot-card-bg {
    height: 61%;

    background-color: #FFFDFA;

    border-radius: 12px;
  }






  // <-----   懶人分類   -----> //



  .lazy-f-bg {
    background-image: url(/assets/images/dog-house/bg-md-5.png);

    background-repeat: no-repeat;

    background-size: cover;
  }






  // <-----   Q & A 區塊   -----> //



  .qa-bg {
    background-image: url(/assets/images/dog-house/bg-md-5.png);

    background-repeat: no-repeat;

    background-size: cover;

    background-position: center;
  }



  .qa-py {
    padding: 100px 12px;
  }








  
}