/* loading */
.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* 半透明黑色背景 */
  display: flex; /* 默认显示 */
  justify-content: center;
  align-items: center;
  z-index: 9999; /* 确保遮罩在最上层 */
}

.logo-loading {
  width: 100px;
  height: 100px;
  animation: swing 1s ease-in-out infinite; /* 左右摇摆动画 */
}

@keyframes swing {
  0%,
  100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-30deg);
  } /* 逆时针旋转，增加角度 */
  75% {
    transform: rotate(30deg);
  } /* 顺时针旋转，增加角度 */
}

// 回上方按鈕
.backTotop {
  position: fixed;
  cursor: pointer;
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.5s ease, transform 0.5s ease, filter 0.5s ease;
}
.backTotop.show {
  opacity: 1;
  transform: translateY(-5px) translateX(-5px);
  filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.5));
}

.feature-banner {
  padding: 80px 0;
  background-color: #fff3e5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  img {
    margin: 0 0 60px 0;
    max-width: 1076px;
    max-height: 434px;
  }

  h2 {
    margin-bottom: 40px;
  }

  span {
    color: #ad4214;
  }
}

// 測試跳動
// @keyframes smooth-bounce-in {
//   0% {
//     transform: translateX(-100%) translateY(0); /* 从左侧开始 */
//   }
//   20% {
//     transform: translateX(-50%) translateY(-30px); /* 大跳 */
//   }
//   40% {
//     transform: translateX(-20%) translateY(-15px); /* 中等跳 */
//   }
//   60% {
//     transform: translateX(-10%) translateY(-5px); /* 较小跳 */
//   }
//   80% {
//     transform: translateX(-5%) translateY(-3px); /* 轻微跳 */
//   }
//   100% {
//     transform: translateX(0) translateY(0); /* 保持在终点位置 */
//   }
// }

// .feature-banner-title {
//   display: inline-block;
//   animation: smooth-bounce-in 2s ease-in-out forwards; /* 动画持续2秒，使用平滑的缓动函数 */
// }

// 循環跳動
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.feature-banner-title {
  display: inline-block;
  animation: bounce 3s ease infinite;
}

// 跑馬燈備用
// .feature-banner-title {
//   overflow: hidden;
//   white-space: nowrap;
//   display: inline-block;
//   position: relative;
// }

// .feature-banner-title  {
//   display: inline-block;
//   animation: marquee 8s linear infinite;
// }

// @keyframes marquee {
//   0% {
//     transform: translateX(100%); /* 从右边开始 */
//   }
//   100% {
//     transform: translateX(-100%); /* 向左滚动到看不到 */
//   }
// }

@media (max-width: 576px) {
  .feature-banner {
    padding: 60px 0;
    text-align: center;

    img {
      max-width: 351px;
      max-height: 144px;
      margin: 0 0 40px 0;
    }

    span {
      display: block;
      margin-bottom: 8px;
    }
  }
}

.featureBtn {
  display: flex;
  justify-content: end;
  gap: 24px;

  a {
    padding: 12px 40px;
    width: 100%;
    height: 100%;
    display: block;
  }

  li {
    border-radius: 4px;
    transition: filter 0.3s ease, transform 0.3s ease;
  }

  li:nth-child(1) {
    border: 3px solid #ad4214;
    background-color: #fafcfe;

    &:hover {
      // 浮起 + 陰影
      transform: translateY(-2px) translateX(-2px);
      filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.5));
      // background-color: #fff3e5;
    }

    a {
      color: #ad4214;
    }
  }

  li:nth-child(2) {
    background-color: #ad4214;
    &:hover {
      // 浮起 + 陰影
      transform: translateY(-2px) translateX(-2px);
      filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.5));
      // background-color: #8a3510;
    }

    a {
      padding: 15px 40px;
      color: #fafcfe;
    }
  }
}

@media (max-width: 992px) {
  .featureBtn {
    text-align: center;
    flex-direction: column;
  }
}

// 圖、文字介紹
.featureIntroduce {
  background-image: url(../../images/qoq-imgs/bigBg.png);
  padding: 100px 0;

  img {
    width: 306px;
    height: 306px;
  }

  p {
    color: #ad4214;
  }

  .featureIntroduce-list {
    li {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 24px;
      margin-bottom: 40px;

      &:nth-child(1) {
        flex-direction: row-reverse;
      }

      &:nth-child(2) {
        flex-direction: row;
      }

      &:nth-child(3) {
        flex-direction: row-reverse;
      }

      &:nth-child(4) {
        flex-direction: row;
      }
    }
  }
}

@media (max-width: 992px) {
  .featureIntroduce {
    display: block;
    padding: 60px 0;

    img {
      width: 152px;
      height: 152px;
    }

    p {
      font-size: 12px;
      padding-bottom: 12px;
    }

    .featureIntroduce-list {
      display: flex;
      justify-content: center;
      gap: 16px;

      li {
        display: block;
        width: 168px;
        margin-bottom: 16px;
        padding: 8px;
        border: 2px solid #fff3e5;
        border-radius: 12px;
      }
    }
  }
}

// Q & A
.faq {
  background-image: url("../../images/qoq-imgs/smallBg.png");
  padding-bottom: 80px;

  h2 {
    color: #ad4214;
    padding-bottom: 40px;
  }

  .accordion-item {
    background-color: #fff3e5;
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 20px 40px;

    .accordion-body {
      padding: 20px 0 0 0;
    }
  }

  .accordion-header {
    padding-bottom: 20px;
  }

  .accordion-button {
    background-color: #fff3e5;
    color: #ad4214;
    box-shadow: none;
    padding: 0;

    &::after {
      background-image: url(../../images/qoq-imgs/foldDown.png);
      width: 20px;
      height: 20px;
    }
  }
}

@media (max-width: 992px) {
  .faq {
    .accordion-item {
      padding: 20px;
    }
  }
}
