<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>懶人特色</title>
    <!-- 首頁寫完等同寫完 -->
  </head>
  <body>
    <!-- header -->
    <%- include('./layout/header'); -%>
    
    <!-- banner -->


    <!-- feature-introduction 特色四格漫畫 -->
    <%- include('./layout/feature-introduction'); -%>

    <!-- QA -->
    <%- include('./layout/Q&A'); -%>
    
    <!-- footer -->
    <%- include('./layout/footer'); -%>

    <script type="module" src="../ccc-main.js"></script>
  </body>
</html>
