<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>👑懶人廚房✨</title>
  </head>

  <body>
    <!-- header -->



    <%- include('./layout/header'); -%>

    

    <!-----   Banner   ----->
    
    
    <div class="container banner-my-60 mx-auto">
      <img class="w-100 banner-img" src="/assets/images/dog-house/banner.png" alt="banner-img">

      <div class="d-flex flex-column text-center flex-sm-row justify-content-sm-center banner-h2-mb">
        <h2 class="text-primary fw-bold me-sm-2 mb-sm-0">懶人必備!</h2>
        <h2 class="fw-bold mb-0">下單即送到府</h2>
      </div>

      <div class="row row-cols-1 flex-column align-items-center justify-content-center flex-sm-row ">
        <div class="col w-auto">
          <a class="d-block bg-danger text-primary border border-3 border-primary rounded-1 banner-a banner-a-p banner-a-mb" href="#">懶人指引</a>
        </div>

        <div class="col w-auto">
          <a class="d-block bg-primary text-danger border border-3 border-primary rounded-1 banner-a banner-a-p" href="#">前往商品</a>
        </div>
      </div>
    </div>


    <div class="intro-bg-img">
      <div class="position-relative">



    <!-----   Feature-introduction 特色四格漫畫   ----->



        <%- include('./layout/feature-introduction'); -%>


        
        <!-- 搜尋列 -->



        <div class="container position-relative z-2">
          <div class="row flex-column flex-md-row justify-content-center w-100 mx-auto bg-danger search-py search-box shadow-lg">
            <div class="col col-md-2 search-mb mb-md-0">
              <div class="dropdown border border-3 border-primary rounded-1">
                <a class="d-flex justify-content-between align-items-center text-primary dropdown-a" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  請選擇分類
                  <img class="p-2" src="/assets/images/dog-house/Vector.png" alt="down-arrow">
                </a>
              
                <ul class="dropdown-menu w-100 border border-3 border-primary mt-1 dropdown-ul">
                  <li><a class="dropdown-item mb-3 p-1 rounded-1" href="#">牛肉</a></li>
  
                  <li><a class="dropdown-item mb-3 p-1 rounded-1" href="#">豬肉</a></li>
  
                  <li><a class="dropdown-item mb-3 p-1 rounded-1" href="#">雞肉</a></li>
  
                  <li><a class="dropdown-item mb-3 p-1 rounded-1" href="#">電鍋料理</a></li>
  
                  <li><a class="dropdown-item mb-3 p-1 rounded-1" href="#">氣炸鍋料理</a></li>
  
                  <li><a class="dropdown-item p-1 rounded-1" href="#">微波料理</a></li>
                </ul>
              </div>
            </div>


            <div class="col col-md-5">
              <div class="input-group border border-3 border-primary rounded-1 mb-md-0">
                <label for="search-input">
                  <img class="input-group-text border-0 bg-danger me-2 input-img" src="/assets/images/dog-house/Outline.png" alt="search-img">
                </label>
                
                <input type="text" id="search-input" class="form-control border-0 bg-danger" placeholder="我想來點..." aria-label="我想來點..." aria-describedby="basic-addon1">
              </div>
            </div>



            <div class="col col-md-1">
              <button type="button" class="btn btn-primary w-100 border border-3 border-primary rounded-1">查詢</button>
            </div>
          </div>
        </div>



        <!-----   底部背景圖片   ----->

        <img class="w-100 intro-bottom-img" src="/assets/images/dog-house/bg-sm-2.png" alt="bottom-bg-img">
      </div>
    </div>

    

    <!-- 商品 -->

    <!-- QA -->
    <%- include('./layout/Q&A'); -%>

    <!-- footer -->
    <%- include('./layout/footer'); -%>

    <script type="module" src="../ccc-main.js"></script>
  </body>
</html>
