<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>商品總攬</title>
  </head>
  <body>
      <!-- header -->
      <%- include('./layout/header'); -%>

      <!-- banner -->
      <div class="container banner-my-60 mx-auto">
        <img class="w-100 banner-img" src="/assets/images/kiwi-imgs/banner.png" alt="banner-img">
      </div>

      <!-- footer -->
      <%- include('./layout/footer'); -%>
    
    <script type="module" src="../kkk-main.js"></script>
  </body>
</html>
