<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>商品細節</title>
  </head>
<!--
首頁      index.html
商品總攬	productAll.html
商品細節	productList.html
購物車		shoppingcart.html
懶人特色	feature.html -->
  <body>
    <!-- header -->
    <%- include('./layout/header'); -%>

    <!-- banner -->
    <h1 class="h1">banner測試用可刪掉</h1>

    <!-- feature-introduction 特色四格漫畫 -->
    <%- include('./layout/feature-introduction'); -%>

    <!-- 搜尋列 -->

    <!-- 商品 -->

    <!-- QA -->
    <%- include('./layout/Q&A'); -%>

    <!-- footer -->
    <%- include('./layout/footer'); -%>

    <script type="module" src="../lll-main.js"></script>
  </body>
</html>
